<div class="home">
  <a href="/">&larr; Home</a>
</div>

<div class="container">
  <form id="sign_in_user" action="/user/login" method="POST">
      <span>Email:</span>
      <input type="text" placeholder="Email" name="email">
      <br>
      <span>Password:</span>
      <input type="password" placeholder="Password" name="password">
      <br>
      <input type="submit" value="Sign In">
  </form>
</div>
